.u-section-1 .u-sheet-1 {
  min-height: 25px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 427px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 314px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 321px;
  margin: 32px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 17px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 32px 32px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 30px auto 0 260px;
  padding: 19px 76px 20px 75px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none;
  margin: -64px 255px 59px auto;
  padding: 19px 130px 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 159px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -65px;
    margin-right: 159px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 46px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }
}